@import _resets
@import _fonts
@import _variables
// @import _main

body
    margin: 0 auto
    background-color: $black
    font-family: 'Golos Text' 

.header__wrapper
    max-width: 1440px
    margin: auto
    border: 1px solid red
    border-radius: 20px
    display: flex
    justify-content: center

.wrapper
    max-width: 1440px
    margin: auto
    border: 1px solid red
    border-radius: 20px


//header


.navigation
    position: fixed
    top: 20px
    z-index: 200
    font-family: 'Golos Text' 
    display: flex
    justify-content: space-between
    align-items: center
    gap: 175px
    border-radius: 28px
    background: $color-header
    padding: 20px
    

.nav-menu
    display: flex
    justify-content: space-between
    gap: 20px
    align-items: center
    color: $white
    font-size: 16px


.nav-menu__item_deviders
    margin: 0 12px
    display: block
    height: 24px
    width: 2px
    background-color: rgba(255, 255, 255, 0.08)

.nav-request
    display: flex
    justify-content: space-between
    align-items: center
    gap: 32px
    font-size: 16px
    color: $white
.btn
    display: block
    font-size: 16px
    height: 44px
    border-radius: 14px
    color: $white
    

.btn__open-map
    width: 165px
    background-color: $blue-btn


//main
.btn_open_constructor
    width: 244px
    height: 55px
    margin: 30px 0 30px 0
.main
    margin-top: -100px
    z-index: 1
    z-index: 1


//sections
.main-information
    padding-top: 374px
    padding-bottom: 100px
    width: 100%

.main-information_item
    padding-left: 160px
.first-block
    position: relative
    padding-bottom: 490px

// ellipses
.ellips_first-section
    position: absolute
    transform: translate(-48%, -57%)
    z-index: 0
.ellips_first-section-group
    position: absolute
    transform: translate(19%, -41%)
    z-index: 0
.slider-text__container
    width: 600px;
    height: 100px;
    // margin-top: 5px
    // margin: 100px auto;
    position: relative;
    overflow: hidden;
    // border: 3px solid red
.slider-text__item
    position: absolute;
    width: 478px;
    height: 100px;
    transition: 2s;
.slider-text__item:nth-of-type(1) 
    top: 0;
    z-index: 10;
    transition: 1.7s;
    transition-timing-function: ease-in-out;

.first-block__title
    display: flex
    flex-direction: column
.title_block
    z-index: 10

.title_block, .slider-text__item
    font-size: 80px
    font-weight: 700
    color: $white

.title-descr__first-block
    position: relative
    z-index: 100
    padding-top: 11px
    width: 44%
.title-descr
    z-index: 100
    line-height: 30px
    font-size: 20px
    color: rgba(234, 234, 234, 1)
.apps_icon
    padding-top: 30px
    display: flex
    gap: 10px
.app_apple_link
    display: block
    width: 164px
    height: 56px
    background-color: $social-link
    border-radius: 16px
    text-align: center

.img_apps_icons
    transform: translateY(28%)
.img_goole_icons
    transform: translateY(30%)

.app_google_link
    display: block
    width: 183px
    height: 56px
    background-color: $social-link
    border-radius: 16px
    text-align: center
.qr_code_link
    display: block
    width: 56px
    height: 56px
    background-color: $social-link
    border-radius: 16px
    text-align: center
.img_qr_link
    transform: translateY(37%)
.stick
    z-index: 100
    position: fixed
    transform: translate(210%, -66%)
.position
    z-index: 100
    position: absolute
    transform: translate(210%, 250%);
    
.secondary-block
    padding-bottom: 522px
.secondary-block__content-one, .econdary-block__content-three, .secondary-block__content-two
    position: relative

//ellipse
.ellips__secondary-block-one, .ellips__secondary-block-three, .ellips__secondary-block-two
    position: absolute
    z-index: 0
.ellips__secondary-block-one
    transform: translate(25%, -37%)
.ellips__secondary-block-two
    transform: translate(25%, -35%)
.ellips__secondary-block-three
    transform: translate(25%, -35%)

//

.secondary-block-three
    padding-bottom: 311px
.secondary-block__title
    font-size: 48px;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: 0em;
    color: $white
.secondary-block__title-one
    width: 50%
.secondary-block_title-descr
    padding-top: 20px
    color: rgba(255, 255, 255, 0.85);
.secondary-block_title-descr-one
    width: 30%
.secondary-block_title-descr-two
    width: 44%




// section made-maps
.made-maps
    // margin-bottom: 60px
    // display: none

.section__wrapper
    display: flex
    flex-direction: column
    align-items: center
    padding: 0 72px

.section__wrapper_made-maps
    padding-top: 60px
    background-color: rgba(255, 255, 255, 0.02)
    border: 3px solid rgba(255, 255, 255, 0.04)
    width: 90%
    margin: auto
    border-radius: 48px
.section__title
    font-size: 48px
    font-weight: 700
    color: $white
    text-align: center

.section__title_made-maps
    width: 50%

.btn_open_constructor
    background-color: $blue-btn



//section why-choose
.why-choose
    margin-top: 96px
.section__wrapper_why-choose
    overflow: hidden
    padding-top: 60px
    background-color: rgba(255, 255, 255, 0.02)
    border: 3px solid rgba(255, 255, 255, 0.04)
    width: 100%
    margin: auto
    border-radius: 48px
//     display: flex
//     flex-direction: column
//     align-items: center
.section__title_made-maps_why-choose
    font-size: 56px
    font-weight: 700
    text-align: center
    padding-top: 60px
    padding-bottom: 57px
.animation-cards__container
    display: flex
    justify-content: space-between
    gap: 20px
    padding-bottom: 84px
// .animation_card
//     width: 418px
.animation-card_img
    height: 254px
    width: 100%
.animation-card_img-one
    background-image: url('../assets/images/bg/animation-bg-one.png');
    background-position: center
    background-repeat: no-repeat;
.animation-card_img-two
    background-image: url('../assets/images/bg/animation-bg-two.png');
    background-position: center
    background-repeat: no-repeat;
.animation-card_img-three
    background-image: url('../assets/images/bg/animation-bg-three.png');
    background-position: center
    background-repeat: no-repeat;
.animation-card_title
    margin-top: 20px
    margin-bottom: 12px
    text-align: left
    font-size: 26px
    color: $white
    font-weight: 600
.animation-card_description
    width: 95%
    font-size: 20px
    color: $white
    font-weight: 400
    line-height: 30px

.section__title_block_helps
    padding-top: 40px
    padding-bottom: 50px
    font-size: 50px
    font-weight: 700


//Infinity animation
@keyframes infinityAnimation 
    0%
        transform: translate(0);
    
    100%
        transform: translate(calc(0px - var(--itemWidth)))
    

@keyframes infinityAnimation_revers
    0%
        transform: translate(calc(0px - var(--itemWidth)))
    
    100%
        transform: translate(0);
    
.animation_wrapper
    width: 112%
    overflow: hidden;
    // border: 1px solid;
    --itemWidth: 39%;


.text_wrapper
    display: flex;
    padding-bottom: 20px
    


.text_wrapper_one
    animation: infinityAnimation 20s linear infinite

.text_wrapper_two
    animation: infinityAnimation_revers 20s cubic-bezier(0.11,.084,.81,0.11) infinite

.text_wrapper_three
    animation: infinityAnimation 16s ease-in-out infinite
.text_wrapper_four
    animation: infinityAnimation_revers 16s ease-in-out infinite

.text_item
    color: $white
    text-align: center
    flex-shrink: 0;
    padding: 28px 20px
    margin: 0 20px
    border-radius: 24px
    width: var(--itemWidth);
    font-weight: 400
    font-size: 22px
    border: 1px solid
    align-items: center
.text_item_one:nth-child(2n+1)
    border-color: $blue-boder
    background-color: $blue-text-item
.text_item_one:nth-child(2n+2)
    border-color: $green-boder
    background-color: $green-text-item
.text_item_one:nth-child(3)
    border-color: $pink-boder  
    background-color: $pink-text-item

.text_item_two:nth-child(2n+1)
    border-color: $pink-boder
    background-color: $pink-text-item
.text_item_two:nth-child(2n+2)
    border-color: $blue-boder
    background-color: $blue-text-item
.text_item_two:nth-child(3)
    border-color: $green-boder
    background-color: $green-text-item

.text_item_three:nth-child(2n+1)
    border-color: $green-boder
    background-color: $green-text-item
.text_item_three:nth-child(2n+2)
    border-color: $pink-boder
    background-color: $pink-text-item
.text_item_three:nth-child(3)
    border-color: $blue-boder
    background-color: $blue-text-item


//projects
.section__title_projects
    z-index: 100
    font-size: 56px
    font-weight: 700
    text-align: center
    padding-top: 110px
    padding-bottom: 57px


//carousel-slider
.projects__container
    position: relative
    padding-bottom: 96px
    z-index: 100
//ellipse

.ellips__project-container
    position: absolute
    z-index: 0
    transform: translate(-14%, -73%)
.projects__slider
    display: flex
    gap: 20px

.project__carousel
    z-index: 100
    position: relative
    width: 638px
    height: 406px
    border-radius: 26px
    background-color: rgba(24, 25, 27, 0.6)

.carousel_track-container
    position: relative
    overflow: hidden
    width: 100%
    height: 100%
    

.carousel_track 
    position: relative
    width: inherit
    height: inherit
    margin: 0
    padding: 0
    list-style: none


.carousel_slide,
    .carousel_image 
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    margin: 0
    padding: 0


.carousel_slide 
    // padding: 5% 12% 8%;
    text-align: center
    transform: translateX(-100%)
    transition: transform .3s ease-out


.carousel_slide.is-selected 
    transform: translateX(0)


.carousel_slide.is-selected ~ .carousel_slide 
    transform: translateX(100%)


.carousel_image 
    z-index: -1;



.carousel_image > img 
    // display: block;
    width: 94%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border: none;
    border-radius: 26px


.carousel_title
    padding-top: 28px
    padding-bottom: 28px
    font-size: 28px;
    font-weight: 500
    color: #fff;
    text-align: left
    padding-left: 50px


.carousel_btn,
.carousel_dot 
    z-index: 1;
    padding: 0;
    cursor: pointer;
    border: none;


.carousel_btn 
    position: absolute
    top: 52%
    background-color:  rgba(42, 48, 57, 1)
    // transform: translateY(-30%);
    width: 48px
    height: 48px
    border-radius: 12px


.carousel_btn > * 
    pointer-events: none;


// .carousel_btn:hover svg 
//     fill: var(--color-active-state);

.jsPrev 
    left: 50px

.jsNext 
    right: 50px

.jsPrev
    transform: rotate(-180deg)


.carousel_dots-container
    display: flex
    gap: 6px
    align-items: center
    justify-content: center
    position: absolute
    border-radius: 12px
    width: 104px
    height: 40px
    background: rgba(30, 30, 30, 0.85);
    box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.06);

.carousel_dots-container-left
    transform: translate(246%, -26%)
.carousel_dots-container-right
    transform: translate(246%, -26%)
.carousel_track-container:hover .carousel_dots-container-left
    transition: 1s
    transform: translate(246%, -166%)
.carousel_track-container:hover .carousel_dots-container-right
    transition: 1s
    transform: translate(246%, -166%)

.dot
    cursor: pointer
    height: 8px
    width: 8px
    background: #B7B7B7;
    border-radius: 30px;
.dot_active
    width: 12px
    background: #0C75F1



//section our-price
.our-price
    padding-bottom: 210px
.section__title_our-price
    padding-top: 130px
    font-weight: 700;
    font-size: 56px;
.secondary-block_title-our-price
    text-align: center
    width: 54%

    

.tarif-cards__container
    position: relative
    padding-top: 50px
    display: flex
    align-items: center
    justify-content: space-between
    z-index: 100

//ellipse
.ellips__price-container
    position: absolute
    z-index: 0
    transform: translate(-15%, 1%)

.tarif_name-title
    font-size: 20px
    color: $white
    font-weight: 500
    transform: translateY(17%)
.tarif-card__item, .tarif-card__title
    display: flex
    flex-direction: column
.tarif-card__item
    position: relative
    border: 3px solid rgba(255, 255, 255, 0.1)
    height: 812px
    width: 32%
    background: linear-gradient(0deg, rgba(22, 23, 27, 0.8), rgba(22, 23, 27, 0.8))
    border-radius: 40px
.tarif_name-dates
    font-size: 17px
    font-weight: 500
    padding: 6px 15px 8px 15px
.name-dates-green
    color: $green-text-tarif
    border-radius: 24px
    background-color: $green-backround-tarif

.name-dates-blue
    color: $blue-text-tarif

    background-color: $blue-backround-tarif

    border-radius: 24px
.name-dates-pink
    color: $pink-text-tarif
    background-color: $pink-backround-tarif
    border-radius: 24px
.tarif-card__name
    display: flex
    justify-content: space-between
    vertical-align: center
    padding: 22px 20px 35px 26px
    width: 85%
.tarif-card__name-std
    gap: 9px
    padding: 22px 0px 35px 0px
.tarif-card__name-free
    width: 100%
.tarif-card__name-full
    width: 100%
.tarif-card__title
    display: flex
    align-items: center
    justify-content: space-between
    background-color: rgba(255, 255, 255, 0.05)
    border-radius: 28px
    height: 33%
    margin: 20px 20px 10px 20px
.tarif_line
    margin-top: -36px
    height: 1px
    background-color: rgba(255, 255, 255, 0.1)
    width: 100%
    
.tarif_coast
    font-weight: 600;
    font-size: 56px;
    letter-spacing: -2%
.tarif_coast, .tarif_coast-second,  .tarif_coast-third
    font-size: 56px
    color: $white
    font-weight: 600
    letter-spacing: 2px
    
.tarif-coast-descriotin
    color: rgba(255, 255, 255, 0.85)
    padding-bottom: 35px
    line-height: 22px
    font-size: 18px
    font-weight: 300
    width: 57%
    text-align: center

.tarif_list
    color: $white
    font-size: 18px
    line-height: 24px
    // padding-top: 20px

.tarif_list-item
    position: relative
    padding-bottom: 22px
    text-align: left
    padding-left: 82px

.tarif_list-item::before
    content: ""
    position: absolute
    top: 29%
    left: 51px
    transform: translate(0 , -50%)
    width: 12px
    height: 12px
    border-radius: 50%
    background-color: rgba(57, 125, 226, 1)


.btn-cont 
    width: 100%;
    height: 68px;
    position: absolute;
    bottom: 20px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
.tarif_btn
    height: 68px;
    width: 378px;
    padding: 20px 40px 24px 40px
    font-size: 20px
    color: rgba(255, 255, 255, 0.75)
    background: rgba(12, 117, 241, 0.2)
.btn-color
    background: rgba(12, 117, 241, 1)
    color: $white
.tarif_coast-second::after
    content: "₽"
    font-weight: 200
    font-family: 'Golos Text'
    font-size: 28px
    position: relative
    top: -20px

.price-item
    // 
    position: relative
    top: 12px
    font-size: 17px
    font-weight: 400
    color: rgba(255, 255, 255, 0.4);

.tarif_coast-item
    display: flex
    width: 66%
    // position: relative
    justify-content: space-between
.tarif_coast-item-third
    display: flex
    width: 90%
    // position: relative
    justify-content: space-between
.tarif-line
    width: 1px
    height: 55px
    transform: rotate(18deg)
    background-color: rgba(255, 255, 255, 0.1)

.tarif-plus
    position: relative
    top: 7px
    font-size: 44px
    color: $white
    font-weight: 500
.tarif_card-color-boder
    position: relative
    border: none
    border-radius: 40px
    background-color: $black
    box-shadow: 2px 2px 20px 0px rgba(12, 117, 241, 0.12)

.tarif_card-color-boder::before 
    border-radius: 40px
    width: 100%
    height: 100%
    content: '';
    background-image: linear-gradient(149.16deg, rgba(12, 117, 241, 0.45) 0%, rgba(6, 231, 117, 0.45) 48.44%,rgba(85, 47, 218, 0.45) 100%);
    padding: 6px;
    top: -6px;
    left: -6px;
    position: absolute;
    z-index: -1;


//section reqiest
.section__title_request
    font-weight: 700;
    font-size: 56px;

.secondary-block_title-descr-request
    width: 49%
    text-align: center


.questions-and-app__container
    width: 100%
    padding-top: 56px
    display: flex
    justify-content: space-between
    gap: 20px

.questions_container
    width: 66%
    padding: 38px 40px
    background-color: rgba(22, 23, 27, 0.8)
    border-radius: 40px
    border: 3px solid rgba(255, 255, 255, 0.08)
.form-questions_title
    width: 96%
    text-align: left
    font-size: 40px
    color: $white
.secondary-block_title-descr-form
    color: rgba(222, 222, 222, 1)
    width: 96%
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: left
    padding-bottom: 30px
    padding-top: 20px
.secondary-block_title-descr-req
    width: 80%
.questions
    display: flex
    flex-direction: column

.select-css, .input-question, .textare-question
    display: block; 
    font-size: 18px;
    height: 80px 
    font-weight: 400; 
    color: rgba(255, 255, 255, 0.6);
    padding: .6em 1.4em .5em 1.8em; 
    width: 100%; 
    // max-width: 101%; 
    box-sizing: border-box; 
    margin: 0; 
    border: none
    border-radius: 20px
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: rgba(255, 255, 255, 0.06);
    margin-bottom: 14px
.textare-question
    padding-top: 20px
    resize: none

// select
//     font-size: 18px; 
//     font-weight: 400; 
//     color: rgba(255, 255, 255, 0.6);
.questions_btn
    height: 78px
    font-size: 20px

.app__container
    position: relative
    overflow: hidden
    display: flex
    flex-direction: column
    position: relative
    padding: 40px
    width: 50%
    // width: 55%
    padding: 40px
    background-color: rgba(22, 23, 27, 0.8)
    border-radius: 40px
    border: 3px solid rgba(255, 255, 255, 0.08)
.ellips__app-container
    position: absolute
    z-index: 0
    transform: translate(-8%, 5%)
.apps_icons-form
    position: absolute;
    bottom: 40px;
    z-index: 100
.ellipse-apps
    position: absolute
    transform: translate(-10%, -1%)
    z-index: 0
    width: 60%
    


//select


.select-container 
    position: relative;
    border-radius: 20px
    margin: 0 auto;
    width: 100%
    
    // box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);


.select-container .select 
    position: relative;
    background: rgba(255, 255, 255, 0.06);
    border-radius: 20px
    height: 80px;
    margin-bottom: 16px
    padding: .6em 2.0em .5em 1.0em; 

::placeholder 
    font-family: 'Golos Text' 
    font-size: 18px


.select-container .select::after 
    position: absolute;
    content: ""
    background-image: url('../assets/images/icons/select.svg');
    width: 20px;
    height: 11px;
    top: 40%;
    right: 35px;
    // transform: translateY(-50%) rotate(45deg);
    cursor: pointer;
    transition: border-color 0.4s;


.select-container.active .select::after
    transform: rotate(180deg);
    border: none;
    // border-left: 2px solid white;
    // border-top: 2px solid white;

.select-container .select input 
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 15px;
    background: none;
    outline: none;
    border: none;
    font-size: 1.4rem;
    color: white;
    cursor: pointer;

.select-container .option-container 
    position: relative;
    background: rgba(255, 255, 255, 0.06);
    height: 0;
    border-radius: 20px
    overflow-y: scroll;
    transition: 0.4s;


.select-container.active .option-container 
    height: 300px;
    margin-bottom: 16px



.select-container .option-container .option 
    position: relative;
    padding-left: 30px;
    height: 60px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: 0.2s;


.select-container .option-container .option.selected 
    background: rgba(45, 47, 53, 1);
    pointer-events: none;


.select-container .option-container .option:hover 
    background: rgba(45, 47, 53, 1);
    padding-left: 20px;


.select-container .option-container .option label 
    font-size: 18px
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
.active-ellipse
    transition: 1s
    transform: translate(-8%, 43%);